* {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	color: #bdcfed;
}
header {
	background-color:#202020;
	height: 65px;
	border-bottom:1px solid #2077CE;
	
}
body{
	
	
	background-color:#414141;
}
h1 {
	color:#bdcfed;
	
	text-align:center;
	
}
h2 {
	margin-top:10px;
	color:#bdcfed;
	text-align:center;
}
h3 {
	margin-top:10px;
	color:#bdcfed;
	text-align:center;
}
p {
	color:#bdcfed;
	display: block;
	margin-left:50px;
	margin-bottom:5px;
	margin-top:15px;
}
label {
	color:#bdcfed;
	display: block;
}


.table-dark th, td {
    /*border: 1px solid #2077CE;*/
	/*background-color:#c7d1e0;*/
	padding:10px;
	
}
.table-dark td {
	border-right: border: 1px solid #2077CE;
	background:#FFFFFF;
	padding:20px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

table.table-dark {
	
	font-family: arial, sans-serif;
	/*border: 2px solid #2077CE;*/
	border-collapse: collapse;
	box-shadow: 2px 2px 10px black;*/
	-webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    3px 3px 7px 0px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 7px 0px black;
	margin: 0 auto;
	margin-top:20px;
	font-weight: 600;
	border-radius: 25px;
}

th.table-dark {
	background-color:#1b1e24;
	border-bottom:4px solid #9ea7af;
	font-weight: 900;
}

tr:nth-child(even) {
   /* background-color: lightgrey;*/
}


tr:first-child.table-dark {
	
	border-bottom:4px solid #9ea7af;
	font-weight: 900;
	border-top-radius: 25px;
}

nav {
	/*min-width:100%;*/
	/*overflow:auto;*/
	
	background-color:#242424;
	height: 50px;
	/*padding:5px;*/
	-webkit-box-shadow: 3px 3px 7px 0px #2077CE;
	-moz-box-shadow:    3px 3px 7px 0px #2077CE;
	box-shadow:         1px 1px 3px 0px #2077CE;
	font-weight: bold;
	
}
ul {
	
	height:50px;;
	
}
li {
	display:inline-block;
	height: 50px;;
	
}
a {
	text-decoration:none;
	height:28px;
	
	border:1px solid transparent;
	display:inline-block;
	overflow: hidden;
	padding:10px;
	/*border-radius: 0px 0px 10px 10px;*/
	transition:0.5s;
	color:#bdcfed;
	margin: 0 auto;
	z-index: 2;



}
a:visited {
	color:#bdcfed;
	
}
a:hover {
	color:yellow;
}

form {
	border:1px solid #2077CE;
	-webkit-box-shadow: 3px 3px 7px 0px #2077CE;
	-moz-box-shadow:    3px 3px 7px 0px #2077CE;
	box-shadow:         1px 1px 3px 0px #2077CE;
	width:350px;
	text-align:left;
	margin:15px auto;
	background-color:#303030;
	border-radius:15px;
	padding:10px;
}
input {
	color: black;
	margin:0 auto;
	margin-top: 5px;
	display:block;
	padding:5px;
	width: 200px;
}
select {
	padding:5px;
	width: 210px;
	margin:0 auto;
	margin-left: 70px;
	margin-top: 5px;
	color: black;
	
}

input[type="submit"] {
	
	width: 214px;
	color: black;
	
}

.active {
	text-shadow: 1px 1px 4px #2077CE;
	background-color:#2077CE;
	border-bottom: 2px solid #2077CE;

}
.menu_elem {
	/*background-color:gray;*/
	height: 50px;
	display:inline-block;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
	position: relative;
}
.menu_elem:hover {
	/*border-bottom:1px solid #2077CE;*/
	
	border-bottom:1px solid yellow;
}


/*** Table Styles **/


 
.table-dark th {
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  border-top-radius:25px;
}
.table-dark thead {
	border-top-left-radius: 25px;
}
.table-dark tbody {
	border-top-left-radius: 25px;
}

.table-dark th:first-child {
  border-top-left-radius:25px;
}
 
.table-dark th:last-child {
  border-top-right-radius:25px;
  border-right:none;
}
  
.table-dark tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  border-top-left-radius: 25px;
}
 
.table-dark tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.table-dark tr:first-child {
  border-top:none;
  border-top-left-radius: 25px;
}

.table-dark tr:last-child {
  border-bottom:none;
}
 
.table-dark tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.table-dark tr:nth-child(odd):hover td {
  background:#4E5066;
}

.table-dark tr:last-child td:first-child {
  border-bottom-left-radius:25px;
}
 
.table-dark tr:last-child td:last-child {
  border-bottom-right-radius:25px;
}
 
.table-dark td:last-child {
  border-right: 0px;
}

.table-dark th.text-left {
  text-align: left;
}

.table-dark th.text-center {
  text-align: center;
}

.table-dark th.text-right {
  text-align: right;
}

.table-dark td.text-left {
  text-align: left;
}

.table-dark td.text-center {
  text-align: center;
}

.table-dark td.text-right {
  text-align: right;
}




